@import "tailwindcss";

:root {
  --color-bg: #1A1A1A;
  --color-text: #F4F4F4;
  --color-accent: #FF4400;
  --color-light: #D1E0E8;
  --color-muted: #757575;
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-accent: var(--color-accent);
  --color-light: var(--color-light);
  --color-muted: var(--color-muted);
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
